.row
  .col-lg-3
    .well
      = simple_form_for Image.new do |f|
        = f.anaconda :asset, auto_upload: true, auto_submit: true
        = f.input :name
        = f.input :tag_list
        = f.submit

    %ul
      - ActsAsTaggableOn::Tag.order( :name ).each do |tag|
        %li
          = link_to tag.name, "/?q=#{tag}"

  .col-lg-9
    .images-grid
      - @images.each_slice(4) do |images|
        .row
          - images.each do |image|
            .col-md-3
              .well
                %a{ href: image_path( image ) }
                  %img.img.img-responsive.center-block{ src: image.asset_url }

      :javascript
        $( document ).ready( function(){
          $( '.images-grid img' ).each( function( el ){
            $( el ).css( '-webkit-animation-play-state', 'paused' );
          });
        })

    .text-center
      = paginate @images