.row
  .col-lg-3
    .well
      = simple_form_for Image.new, html: { class: 'form-horizontal' } do |f|
        = f.anaconda :asset, auto_upload: true, auto_submit: true
        = f.input :name
        = f.input :tag_list
        = f.submit class: 'btn btn-primary'

    %ul
      - ActsAsTaggableOn::Tag.order( :name ).each do |tag|
        %li
          = link_to tag.name, "/?q=#{tag}"

  .col-lg-9
    .images-grid
      - @images.each_slice(4) do |images|
        .row
          - images.each do |image|
            .col-md-3
              .well
                %a{ href: image_path( image, untagged: params[:untagged] ) }
                  %img.img.img-responsive.center-block{ src: image.asset_url }

      :javascript
        $( document ).ready( function(){
          $( '.images-grid img' ).each( function( el ){
            $( el ).css( '-webkit-animation-play-state', 'paused' );
          });
        })
    - if @images.respond_to?(:total_count)
      .text-center
        = paginate @images