.row
  .col-md-1
    - prev_image = Image.where("id < ?", @image.id).order(id: :desc).first
    - if prev_image
      = link_to "Previous", image_path(prev_image), { id: "prev_image" }
  .col-md-10
    = @image.name
  .col-md-1
    - next_image = Image.where("id > ?", @image.id).order(id: :asc).first
    - if next_image
      = link_to "Next", image_path( next_image ), { id: "next_image" }


.row
  .col-md-3
    .well
      = simple_form_for @image, url: add_tag_image_path(@image), html: { class: 'form-inline' } do |f|
        = f.input :tag, input_html: {value: nil}, placeholder: "Tag", label: false
        = f.submit "Add Tag", class: 'btn btn-primary'
      
      :coffeescript
        availableTags = #{ActsAsTaggableOn::Tag.all.map(&:to_s).to_json}
        
        $( "#image_tag").autocomplete({
          minLength: 0,
          source: availableTags
        })
      %hr
      = link_to "Auto tag with Imagga", imagga_image_path( @image ), method: :post, class: 'btn btn-sm btn-default'
    
    %ul.tags
      - @image.tag_list_with_confidence.each do |tag|
        %li= tag_label(tag: tag, show_remove: true)

  .col-md-9

    %img.center-block{style: "max-width: 100%; max-height: 80%;", src: @image.asset_url }

    - if params[:untagged].present?
      :javascript
        $( "#image_tag_list" ).focus();

    :javascript
      $( document ).ready( function(){
        
        $(document).bind('keyup', 'ctrl+t', function(){
          $( "#image_tag_list" ).focus();
        });


        // e.g. replace '$' sign with 'EUR'
        $(document).bind('keyup', 'ctrl+n', function(){
          window.location.href = "/images/#{@image.id + 1}";
        });

        // e.g. replace '$' sign with 'EUR'
        $(document).bind('keyup', 'ctrl+p', function(){
          window.location.href = "/images/#{@image.id - 1}";
        });


      });