.row
  .col-md-1
    - prev_image = Image.where("id < ?", @image.id).order(id: :desc).first
    - if prev_image
      = link_to "Previous", image_path(prev_image), { id: "prev_image" }
  .col-md-10
    = @image.name
  .col-md-1
    - next_image = Image.where("id > ?", @image.id).order(id: :asc).first
    - if next_image
      = link_to "Next", image_path( next_image ), { id: "next_image" }


.row
  .col-md-3
    .well
      = simple_form_for @image, html: { class: 'form-horizontal' } do |f|
        = hidden_field_tag :untagged, true if params[:untagged]
        = f.input :name
        = f.input :tag_list, input_html: {value: @image.tags.join(", ")}
        = f.submit class: 'btn btn-primary'
        
      :coffeescript
        availableTags = #{ActsAsTaggableOn::Tag.all.map(&:to_s).to_json}
        
        split = ( val ) =>
          val.split( /,\s*/ );
        
        extractLast = ( term ) ->
          split( term ).pop()
        
        $( "#image_tag_list").bind( "keydown", ( event ) ->
          if ( event.keyCode == $.ui.keyCode.TAB && $( this ).autocomplete( "instance" ).menu.active )
            event.preventDefault();
        )
        .autocomplete({
          minLength: 0,
          source: ( request, response ) =>
            # delegate back to autocomplete, but extract the last term
            response( $.ui.autocomplete.filter(
              availableTags, extractLast( request.term ) ) )
          ,
          focus: ->
            # prevent value inserted on focus
            return false;
          ,
          select: ( event, ui ) ->
            terms = split( this.value )
            # remove the current input
            terms.pop();
            # add the selected item
            terms.push( ui.item.value )
            # add placeholder to get the comma-and-space at the end
            terms.push( "" )
            this.value = terms.join( ", " )
            return false;
        })

  .col-md-9

    %p
      = @image.tag_list

    %img.center-block{style: "max-width: 100%; max-height: 80%;", src: @image.asset_url }

    - if params[:untagged].present?
      :javascript
        $( "#image_tag_list" ).focus();

    :javascript
      $( document ).ready( function(){
        
        $(document).bind('keyup', 'ctrl+t', function(){
          $( "#image_tag_list" ).focus();
        });


        // e.g. replace '$' sign with 'EUR'
        $(document).bind('keyup', 'ctrl+n', function(){
          window.location.href = "/images/#{@image.id + 1}";
        });

        // e.g. replace '$' sign with 'EUR'
        $(document).bind('keyup', 'ctrl+p', function(){
          window.location.href = "/images/#{@image.id - 1}";
        });


      });