.row
  .col-md-1
    - prev_image = Image.where("id < ?", @image.id).order(id: :desc).first
    - if prev_image
      = link_to "Previous", image_path(prev_image), { id: "prev_image" }
  .col-md-10
    = @image.name
  .col-md-1
    - next_image = Image.where("id > ?", @image.id).order(id: :asc).first
    - if next_image
      = link_to "Next", image_path( next_image ), { id: "next_image" }


.row
  .col-md-3
    .well
      = simple_form_for @image do |f|
        = f.anaconda :asset
        = f.input :name
        = f.input :tag_list, input_html: {value: @image.tags.join(", ")}
        = f.submit

  .col-md-9

    %p
      = @image.tag_list

    %img{ src: @image.asset_url }

    :javascript
      $( document ).ready( function(){

        $(document).bind('keyup', 'ctrl+t', function(){
          $( "#image_tag_list" ).focus();
        });


        // e.g. replace '$' sign with 'EUR'
        $(document).bind('keyup', 'ctrl+n', function(){
          window.location.href = "/images/#{@image.id + 1}";
        });

        // e.g. replace '$' sign with 'EUR'
        $(document).bind('keyup', 'ctrl+p', function(){
          window.location.href = "/images/#{@image.id - 1}";
        });


      });